---
layout: default
title: Products
suppress_header: true
extra_css:
  - pricing.css
  - faq.css
  - compared.css
extra_js:
  - faq.js
  - bootstrap-tooltip.js
  - comparison.js
extra_font:
  - "Roboto+Slab"
---

.pricing-options.text-center
  .container
    .row{ data: { equal: ".col-md-3" } }
      %h2
        Below are our self hosted products, we can host it for you on #{link_to 'GitLab.com',  '/gitlab-com'}.
      .col-md-4
        .featured-item
          .edition-name
            Community Edition (CE)
          .featured-item-body
            %p.edition-description
              Ideal for personal projects or small teams with minimal user management and workflow control needs.
            .edition-pricing
              %h2.col-md-7.featured-item-headline
                FREE
              %h3.col-md-5.featured-item-headline-small
                unlimited
                %br
                users
            .edition-actions.align-button
              = link_to "Install", "/installation/", class: "featured-item-button"
            = link_to "View More ", "#community-edition", class: "featured-item-expand"
            %ul#community-edition.featured-item-list.list-unstyled
              - data.features.features.each do |feature|
                - if (feature.gitlab_ce == true && feature.feature_page == true)
                  %li.line-separator
                  %li.item-description
                    - if (feature.link != nil)
                      = link_to feature.title, feature.link
                    - if (feature.link == nil)
                      = feature.title
                    - if (feature.description != "" && feature.description != nil)
                      %i.fa.fa-info-circle.info-icon{"title" => feature.description, "data-toggle" => "tooltip", "data-placement" => "top"}

      .col-md-4
        .featured-item
          .edition-name.edition-enterprise
            Enterprise Edition Starter (EES)
          .featured-item-body
            %p.edition-description
              For co-located teams, of 500 users or less, who need additional security and workflow controls for their professional projects.
            .edition-pricing
              %h2.col-md-7.featured-item-headline
                $3.25
              %h3.col-md-5.featured-item-headline-small
                per user
                %br
                per month
              %h4.col-md-12.featured-item-headline-smaller
                paid annually at $39
            .edition-actions
              = link_to "Buy Now", "https://customers.gitlab.com/subscriptions/new?plan_id=2c92a0fe58bdf4e00158d696fff06a41", class: "featured-item-button"
            = link_to "View More ", "#enterprise-edition-starter", class: "featured-item-expand"
            %ul#enterprise-edition-starter.featured-item-list.list-unstyled
              %li.item-description
                %strong
                  All features from Community Edition plus:
              - data.features.features.each do |feature|
                - if (feature.gitlab_ce == false && feature.gitlab_ees == true)
                  %li.line-separator
                  %li.item-description
                    - if (feature.link != nil)
                      = link_to feature.title, feature.link
                    - if (feature.link == nil)
                      = feature.title
                    - if (feature.description != "" && feature.description != nil)
                      %i.fa.fa-info-circle.info-icon{"title" => feature.description, "data-toggle" => "tooltip", "data-placement" => "top"}
      .col-md-4
        .featured-item
          .edition-name.edition-enterprise
            Enterprise Edition Premium (EEP)
          .featured-item-body
            %p.edition-description
              For distributed teams, of 500 users or more, who need advanced workflow controls, advanced CI/CD, advanced Monitoring, advanced Project Management, and High Availability.
            .edition-pricing
              %h2.col-md-7.featured-item-headline
                $16.59
              %h3.col-md-5.featured-item-headline-small
                per user
                %br
                per month
              %h4.col-md-12.featured-item-headline-smaller
                paid annually at $199
            .edition-actions
              = link_to "Buy Now", "https://customers.gitlab.com/subscriptions/new?plan_id=2c92a0fd58c4fff70158d6989f6f2a3d", class: "featured-item-button"
              = link_to "Free Trial", "https://about.gitlab.com/free-trial/", class: "featured-item-link"
            = link_to "View More ", "#enterprise-edition-premium", class: "featured-item-expand"
            %ul#enterprise-edition-premium.featured-item-list.list-unstyled
              %li.item-description
                %strong
                  All features from Enterprise Edition Starter plus:
              - data.features.features.each do |feature|
                - if (feature.gitlab_ce == false && feature.gitlab_ees == false && feature.gitlab_eep == true)
                  %li.line-separator
                  %li.item-description
                    - if (feature.link != nil)
                      = link_to feature.title, feature.link
                    - if (feature.link == nil)
                      = feature.title
                    - if (feature.description != "" && feature.description != nil)
                      %i.fa.fa-info-circle.info-icon{"title" => feature.description, "data-toggle" => "tooltip", "data-placement" => "top"}

    = link_to "Contact Us", "https://about.gitlab.com/sales/", class: "featured-item-button contact-us-button"

.content-container.no-display-on-mobile
  .container
    %h2.faq-title.light.text-center
      Feature Comparison
    .comparison-page-content.comparison.gray-bg#comparison
      = partial "includes/features/table", locals: { product_one: data.features.competitors.gitlab_ce, product_two: data.features.competitors.gitlab_ees, product_three: data.features.competitors.gitlab_eep, key_one: 'gitlab_ce', key_two: 'gitlab_ees', key_three: 'gitlab_eep', gitlab_com_features: false }
    .text-center
      = link_to "Contact Us", "https://about.gitlab.com/sales/", class: "featured-item-button contact-us-button"

.content-container.animated
  .container
    %h2.faq-title.light.text-center
      Subscription & Licensing FAQ
    .faq-holder.clearfix
      - size = (data.pricing.questions.size / Float(2)).ceil
      - data.pricing.questions.each_slice(size).to_a.each do |group|
        = partial "includes/layout/question_group", locals: { group: group }
